@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Pacifico&display=swap');
body {
    background-color: #222;
    color: #fff;
    font-family: poppins;
    margin: 0;
    padding: 0;
}
.head{
    font-family: cinzel;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    padding: 2% 0 2%;
}
.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 1% 20px 2%;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(19,19,19,1) 5%, rgba(34,34,34,1) 30%);
    transition: none;
}
.align-horizontal {
    flex: 1 1 0;
}

.field-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-container {
    display: none;
    transition: none;
}

.form-container.active {
    display: block;
}

h1 {
    text-align: center;
    margin: 10% 0 5% 0;
    text-transform: uppercase;
    font-family: raleway;
    font-size: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

input::-webkit-calendar-picker-indicator {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-512.png) no-repeat;
    opacity: 1;
    
}

input::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
}
input[type="email"],
input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: 1px solid #666;
    border-radius: 4px;
    transition: all 0.7s;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    border-color: #02d463;
    border-radius: 25px;
    transition: 0.7s;
    outline: none!important;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #00ac50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

button[type="submit"]:hover {
    background-color: rgb(31, 31, 31);
    color:#00ac50;
    border: 1px solid #00ac50;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.5s ease;
}

.switch {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.switch button {
    width: 48%;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.switch button:hover:not(.active) {
    color: #00ac50;
    transition: 0.2s ease
}
.switch button.active {
    background-color: #00ac50;
}

/* Responsive Styles */

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 20px;
    }
    
    h1 {
        margin-bottom: 20px;
        font-size: 24px;
    }

    input[type="email"],
    input[type="text"],
    input[type="date"],
    input[type="password"],
    button[type="submit"] {
        font-size: 12px;
    }

    .switch button {
        font-size: 12px;
    }
}
