*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
#bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#container{
    position: absolute;
    top: 46%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
